<p>home works!</p>
<ul>
    <li><a [routerLink]="[ '/http' ]" routerLinkActive="active">http</a></li>
    
    <li><a [routerLink]="[ '/rxjs' ]" routerLinkActive="active">rxjs</a></li>

    <li><a [routerLink]="[ '/life' ]" routerLinkActive="active">life</a></li>

    <li><a [routerLink]="[ '/fa' ]" routerLinkActive="active">fa</a></li>
    <li><a [routerLink]="[ '/son' ]" routerLinkActive="active">son</a></li>
    <li><a [routerLink]="[ '/side' ]" routerLinkActive="active">side</a></li>
    <li><a [routerLink]="[ '/child' ]" routerLinkActive="active">child</a></li>
    <li><a [routerLink]="[ '/form' ]" routerLinkActive="active">form</a></li>
    <li><a [routerLink]="[ '/todolist' ]" routerLinkActive="active">todolist</a></li>
    <li><a [routerLink]="[ '/temp' ]" routerLinkActive="active">temp</a></li>
    <li><a [routerLink]="[ '/list' ]" routerLinkActive="active">list</a></li>
    <li><a [routerLink]="[ '/plist' ]" routerLinkActive="active">project</a></li>
    <li><a [routerLink]="[ '/user' ]" routerLinkActive="active">user-懒加载</a></li>
</ul>


